.casovi_main_div{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.casovi_raspored_div{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
}
.vreme_casova_div{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.vreme_casova_p{
  color:#0E1854;
  font-size: 25px;
}

.casovi_video_div{
  width: 100%;
  height: 50%;

}
